Package: fyi
Version: VERSION
Section: base
Priority: optional
Architecture: amd64
Maintainer: Blobfolio LLC <hello@blobfolio.com>
Homepage: https://github.com/Blobfolio/fyi
Installed-Size: SIZE
Description: FYI is a dead-simple CLI status message printer for use in BASH
 scripts, etc.
