name: Build

on:
  push:
    branches: []
  pull_request:
    branches: []

defaults:
  run:
    shell: bash

env:
  CARGO_TERM_COLOR: always

jobs:
  all:
    name: All

    strategy:
      matrix:
        target:
        - x86_64-unknown-linux-gnu
        - aarch64-apple-darwin
        include:
        - target: x86_64-unknown-linux-gnu
          os:     ubuntu-latest
        - target: aarch64-apple-darwin
          os:     macos-latest

    runs-on: ${{matrix.os}}

    env:
      RUSTFLAGS: "-D warnings"

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
      with:
        targets: ${{ matrix.target }}
        components: clippy

    - name: Info
      run: |
        rustup --version
        cargo --version
        cargo clippy --version

    - name: Build
      run: |
        cargo build --bin fyi --target ${{ matrix.target }}
        cargo build --bin fyi --release --target ${{ matrix.target }}

    - name: Clippy
      run: |
        cargo clippy --workspace --release --target ${{ matrix.target }}

    - name: Clippy (fyi_ansi)
      run: |
        cargo clippy --manifest-path fyi_ansi/Cargo.toml --target ${{ matrix.target }}
        cargo clippy --manifest-path fyi_ansi/Cargo.toml --release --target ${{ matrix.target }}

    - name: Tests (fyi_ansi)
      run: |
       cargo test --manifest-path fyi_ansi/Cargo.toml --target ${{ matrix.target }}
       cargo test --manifest-path fyi_ansi/Cargo.toml --release --target ${{ matrix.target }}

    - name: Clippy (fyi_msg)
      run: |
        cargo clippy --manifest-path fyi_msg/Cargo.toml --target ${{ matrix.target }}
        cargo clippy --manifest-path fyi_msg/Cargo.toml --features=fitted --target ${{ matrix.target }}
        cargo clippy --manifest-path fyi_msg/Cargo.toml --features=timestamps --target ${{ matrix.target }}
        cargo clippy --manifest-path fyi_msg/Cargo.toml --features=fitted,timestamps --target ${{ matrix.target }}
        cargo clippy --manifest-path fyi_msg/Cargo.toml --features=progress --target ${{ matrix.target }}
        cargo clippy --manifest-path fyi_msg/Cargo.toml --features=signals_sigwinch --target ${{ matrix.target }}
        cargo clippy --manifest-path fyi_msg/Cargo.toml --features=signals_sigint --target ${{ matrix.target }}
        cargo clippy --manifest-path fyi_msg/Cargo.toml --all-features --target ${{ matrix.target }}

    - name: Tests (fyi_msg/Debug)
      run: |
        cargo test --manifest-path fyi_msg/Cargo.toml --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --features=fitted --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --features=timestamps --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --features=fitted,timestamps --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --features=progress --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --features=signals_sigwinch --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --features=signals_sigint --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --all-features --target ${{ matrix.target }}

    - name: Tests (fyi_msg/Release)
      run: |
        cargo test --manifest-path fyi_msg/Cargo.toml --release --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --release --features=fitted --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --release --features=timestamps --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --release --features=fitted,timestamps --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --release --features=progress --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --release --features=signals_sigwinch --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --release --features=signals_sigint --target ${{ matrix.target }}
        cargo test --manifest-path fyi_msg/Cargo.toml --release --all-features --target ${{ matrix.target }}
